*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(38, 30, 51);
    color:aquamarine;
    margin: 0 auto;
    font-family: 'FuturaRennerRegular';
    font-size: 23px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#button{
    padding: 10px 30px 10px 30px;
    background-color: rgb(136, 104, 226);
    border-radius: 20px;
    border-bottom:4px solid rgb(173, 167, 255);
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 24px;
    color: rgb(24, 22, 61);
    margin: 20px 0 -40px 0;
}

#button:hover{
    background-color:rgb(173, 167, 255);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:4px solid rgb(254, 254, 255);
    color: rgb(24, 22, 61);
}

img{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

a{
    text-decoration: none;
    
}

section a{
    text-decoration: none;
    color: rgb(168, 198, 255);
    line-height: 2;
    padding: 20px 10px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 64, 99);
    margin: 20px 300px 50px 300px;
    border-radius: 50px;
    border-bottom: 4px solid rgb(148, 128, 240);

    
}
section a:hover{
    background-color: rgb(128, 118, 182);
    border-bottom: 4px solid rgb(255, 255, 255);
}


a:hover{
    color: azure;
}

section{
    margin: 30px 10px 10px 10px;
    padding: 20px 10px 40px 10px;
    text-align: center;

}

h1{
    background-color: rgb(51, 46, 100);
    border-bottom: 4px solid rgb(128, 199, 240);
    border-right:  2px solid rgb(128, 199, 240);
    border-left:  2px solid rgb(128, 199, 240);
    padding: 20px 10px 20px 10px;
    border-radius: 20px 20px 0 0;
    margin: -30px 10px 10px 10px;
}

#honey-bbq{
    text-align: center;

}

#honey-bbq h2{
    margin: 20px 300px 50px 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(51, 46, 100);
    border-bottom: 4px solid rgb(128, 199, 240);
    padding: 20px;
    border-radius: 40px 20px 0 0; 
    
}

ul{
    background-color: rgb(69, 64, 99);
    margin: 20px 300px 20px 300px;
    border-radius:  0px 0 20px 20px;
    border-bottom: 4px solid rgb(119, 114, 161);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
    
}

#honey-bbq li{
    list-style: none;
    line-height: 2;
    margin: 30px 5px 10px 5px;
}

#honey-bbq .title{
    margin: 40px 300px 5px 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(51, 46, 100);
    border-bottom: 4px solid rgb(128, 199, 240);
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

    #honey-bbq p{
        margin: 40px 300px 5px 300px;
        background-color: rgb(69, 64, 99);  
        padding: 20px;
        border-radius: 0 0 20px 20px;
        line-height: 2;
        text-align: left;
    }
    #honey-bbq .title{
        text-align: center;
        font-size: 30px;
    }
    
    footer{
        display: flex;
        justify-content: center;
        
    }

    #top-btn{
        padding: 10px 30px 10px 30px;
        background-color: rgb(136, 104, 226);
        border-radius: 20px;
        border-bottom:4px solid rgb(173, 167, 255);
        border-left: none;
        border-right: none;
        border-top: none;
        font-size: 20px;
        color: rgb(24, 22, 61);
        margin: -10px 0 40px 0;
    }
    
    #top-btn:hover{
        background-color:rgb(173, 167, 255);
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom:4px solid rgb(254, 254, 255);
        color: rgb(24, 22, 61);
    }
    
    @media only screen and (max-width:800px) {
          ul{
            margin: 20px 30px 20px 30px;
          }

          #honey-bbq .title{
            margin: 20px 30px 20px 30px;
          }

          img{
            width: 89%;
          }

          #honey-bbq h2{
            margin: 20px 30px 20px 30px;
          }

          #honey-bbq p{
            margin: 20px 30px 20px 30px;
          }

          section a{
            margin: 5px 30px 5px 30px;
            border-radius: 20px;
          }
        
    }